* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

body {
    background-color: white;
    color: #262626;
    line-height: 1.4;
}

.container {
    max-width: 935px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header/Navigation */
header {
    border-bottom: 1px solid #dbdbdb;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-container {
    max-width: 975px;
    margin: 0 auto;
    padding: 0 20px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo img{
     height: 22%;
    width: 25%;
    margin-top: 9px;

}

.logo img:hover{
    cursor: pointer;
}

.nav-icons {
    display: flex;
    gap: 22px;

}

.nav-icons i {
    font-size: 22px;
    cursor: pointer;
}

/* Profile Header */
.profile-header {
    display: flex;
    padding: 30px 20px;
    margin-bottom: 44px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 30px;
    background: #dbdbdb;
    display: flex;
    align-items: center;
    justify-content: center;


}

.profile-pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;         /* keeps the image proportional */
    border-radius: 50%;
}

.profile-info {
    flex: 1;
}

.profile-stats {
    display: flex;
    margin-bottom: 20px;
}

.profile-stats div {
    margin-right: 40px;
}

.profile-name {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 12px;
}

.profile-bio {
    margin-bottom: 10px;
    color: #262626;
    font-size: 14px;
}

.profile-actions {
    display: none;
    gap: 8px;
    margin-top: 20px;

}

.btn {
    background-color: #f1f3f6; /* light gray background */
    color: #000;              /* black text */
    border: none;             /* no border */
    padding: 10px 112px;       /* vertical and horizontal padding */
    border-radius: 12px;      /* rounded corners */
    font-weight: 600;         /* bold text */
    cursor: pointer;          /* pointer on hover */
    font-size: 15px;
}

.btn:hover{
    background-color: #e8eaed; /* slightly darker on hover */

}

.btn-primary {
    background-color: #E7EAEE;
    color: black;
    border: none;
}



/* Footer */
footer {
    margin-top: 50px;
    padding: 20px 0;
    text-align: center;
    color: #8e8e8e;
    font-size: 12px;
}

.footer-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 16px;
}

.footer-links a {
    color: #8e8e8e;
    text-decoration: none;
}

