
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #262626;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 420px;
    padding: 20px;
}

.login-box {
    background-color: white;
    border: 1px solid #dbdbdb;
    border-radius: 1px;
    padding: 40px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.logo  {
    margin-bottom: 20px;
    width:100%;
    height: 100%;

}

.logo  img {
    width:45%;
    height: 10%;
}


h1 {
    font-size: 16px;
    font-weight: 600;
    color: #290000;
    margin-bottom: 16px;
    line-height: 20px;
}

.description {
    color: #8e8e8e;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.input-group {
    margin-bottom: 12px;
}

input {
    width: 100%;
    padding: 10px 8px;
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    font-size: 14px;
     margin-bottom: 13px;

}

input:focus {
    outline: none;
    border-color: #a8a8a8;
}

.btn{
    width: 100%;
    padding: 10px 8px;
    background-color: #0095f6;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    margin-top: 8px;

}

.back_btn{
    padding-top: 50px;
}

.btn:hover {
    background-color: #1877f2;
}



.footer {
    margin-top: 20px;
    text-align: center;
    color: #8e8e8e;
    font-size: 12px;
}



.meta-info {
    margin-top: 10px;
    color: #8e8e8e;
    font-size: 12px;
}


.change_btn{
    padding-top: 17px;
}
